  {% comment %}
<picture>
  <source media="(orientation: portrait)" type="image/jpg" srcset="../images/GANDALF.jpg"> 
  <source type="image/avif" srcset="../images/Legolas.avif">
  <source type="image/webp" srcset="../images/Gollem.webp">
  <img src="../images/GANDALF.jpg" alt="Plaatje" width="400" height="300" decoding="async">
</picture>
{% endcomment %}

{% render 'partials/head.liquid' %}

<main class="container">
    <section class="plaatje-container">
      <h1>Stekjes</h1>
        {% for plaatje in plaatjes %}
            <img 
                class="sfeerplaatjes" 
                src="https://fdnd-agency.directus.app/assets/{{ plaatje.foto }}" alt="Sfeerfoto" width="350">
        {% endfor %}
    </section>

    <section class="beschrijving">
    <p>In de Bieb in Bloei Hoek van de OBA Linnaeus vind je een kleurrijke stekjeskast gemaakt door kinderen uit de buurt bij de OBA Maakplaats. Neem een of meerdere stekjes van thuis mee om deze te ruilen met stekjes die andere buurtbewoners in de kast hebben gezet. Dit kan in een potje met water of aarde. Onder de kast zetten wij vaak wat potjes met aarde neer om het plantje meteen in aarde te zetten als het al wortel heeft geschoten. In de koude maanden zullen er minder stekjes met kleinere worteltjes in de kast staan, de plantjes zijn dan in winterslaap. De stekjeskast komt echt tot leven in de lente en zomer.</p>
    </section>

    <section class="stekjes-container">
        {% for stekje in stekjes %}
            <section class="stekjes">
                <a href="/stekjes/{{ stekje.id }}" id="stekje-{{ stekje.id }}">
                    <h2>{{ stekje.naam }}</h2>
                    <img src="https://fdnd-agency.directus.app/assets/{{ stekje.foto }}" alt="{{ stekje.naam }}" width="250">
                </a>
                
                <form action="/stekjes/{{ stekje.id }}" method="POST">
                    <input type="hidden" name="from" value="{{ stekje.id }}">
                    <button type="submit" class="like-button" aria-label="Like {{ stekje.naam }}">❤️</button>
                </form>
            </section>
        {% endfor %}
    </section>
</main>

<script>
    async function likeStekje(stekjeId) {
        const response = await fetch(`/stekjes/${stekjeId}/like`, { method: 'POST' });
        const data = await response.json();
        
        if (data.success) {
            document.getElementById(`likes-${stekjeId}`).textContent = data.nieuweLikes;
        }
    }
</script>

{% render 'partials/foot.liquid' %}