{% render 'partials/head.liquid' %}

<section class="stekje-detail">
  <h2>{{ stekje.naam }}</h2>
  <p>{{ stekje.beschrijving }}</p>
  <p>{{ stekje.giftig }}</p>
  <img src="https://fdnd-agency.directus.app/assets/{{ stekje.foto }}" alt="{{ stekje.naam }}" width="400">
</section>


{% render 'partials/foot.liquid' %}